<div>
  <h3>Response from <%= response.sent_by %></h3>
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <% response.answers.each do |question_id, answer| %>
        <tr>
          <td><%= find_question(question_id) %></td>
          <td><%= display_answer(question_id, answer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Back to g forms", g_forms_path %> |



